﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' />
    <title>@ViewData["Title"] - A-hub</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/assets/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/assets/css/material-kit.css" />
        <link rel="stylesheet" href="~/lib/bootstrap-material-design/dist/css/bootstrap-material-design.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />

        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/assets/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />

        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/assets/css/material-kit.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />

        @*<link rel="stylesheet" href="https://cdnjs.com/libraries/bootstrap-material-design/css/bootstrap.min.css"*@
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap-material-design/dist/css/bootstrap-material-design.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)
</head>
<body class="index-page">
    <div class="navbar navbar-inverse navbar-fixed-top navbar-transparent navbar-color-on-scroll">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*<a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">A-hub</a>*@

                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">
                    <div class="logo-container">
                        <div class="logo">
                            <img src="~/images/img/logo.png" alt="A-hub Logo" rel="tooltip" title="<b>A-hub</b> was Designed & Coded with love by Ke Developers for <b>KUCSA - Kisii University</b>" data-placement="bottom" data-html="true">
                        </div>
                        @*<div class="brand">
                            A-hub
                        </div>*@


                    </div>
                </a>
            </div>
            <div class="navbar-collapse collapse" id="navigation-index">
                <ul class="nav navbar-nav navbar-right">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index"  class="dropdown-toggle" data-toggle="dropdown">About Us <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a asp-area="" asp-controller="Home" asp-action="About">How We Work</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact Us</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="Contact">Jobs</a></li>
                        </ul>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Index" class="dropdown-toggle" data-toggle="dropdown">Connect <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a asp-area="" asp-controller="Home" asp-action="About">Fb</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="Contact">Twirrah</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="Contact">Snapchatt</a></li>
                        </ul>
                    </li>
                    @* Solutions, Portfolio *@
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Index" class="dropdown-toggle" data-toggle="dropdown">Learn <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a asp-area="" asp-controller="Home" asp-action="About">Android</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="Contact">Windows Development</a></li>
                        </ul>
                    </li>

                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Index" class="dropdown-toggle" data-toggle="dropdown">Interviews <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a asp-area="" asp-controller="Home" asp-action="About">Android</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="Contact">Windows Development</a></li>
                        </ul>
                    </li>

                    <li><a asp-area="" asp-controller="Home" asp-action="About">Ask A Question</a></li>

                    <li>
                        <a asp-controller="Home" class="dropdown-toggle" data-toggle="dropdown">Gallery <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a asp-controller="Home">Events</a></li>
                            <li><a asp-controller="Home">Another action</a></li>
                            <li><a asp-controller="Home">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a asp-controller="Home">Separated link</a></li>
                            <li class="divider"></li>
                            <li><a asp-controller="Home">One more separated link</a></li>
                        </ul>
                    </li>

                    @*<li>
                        <a href="https://twitter.com/a-hub" target="_blank" class="btn btn-simple btn-white btn-just-icon">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/a-hub" target="_blank" class="btn btn-simple btn-white btn-just-icon">
                            <i class="fa fa-facebook-square"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/a-hub" target="_blank" class="btn btn-simple btn-white btn-just-icon">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </li>*@
                    @* <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                          <li><a href="#">Action</a></li>
                          <li><a href="#">Another action</a></li>
                          <li><a href="#">Something else here</a></li>
                          <li class="divider"></li>
                          <li><a href="#">Separated link</a></li>
                          <li class="divider"></li>
                          <li><a href="#">One more separated link</a></li>
                        </ul> *@


                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - A-hub</p>
        </footer>
    </div>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/bootstrap-material-design/dist/js/material.js"></script>
        @*<script src="~/assets/js/bootstrap.min.js"></script>*@
        <script src="~/assets/js/bootstrap-datepicker.js"></script>
        <script src="~/assets/js/material-kit.js"></script>
        <script src="~/assets/js/material.min.js"></script>

        <script type="text/javascript">

		$().ready(function(){
			// the body of this function is in assets/material-kit.js
			materialKit.initSliders();
            window_width = $(window).width();

            if (window_width >= 992){
                big_image = $('.wrapper > .header');

				$(window).on('scroll', materialKitDemo.checkScrollForParallax);
			}

		});
        </script>

        <script src="~/assets/js/nouislider.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>

        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
